@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  padding: 9rem 6.25rem;
}

.header {
  padding: 0.5rem 6.25rem;
  background-color: #fff;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  height: 5.9rem;
  display: flex;
}

.header-left {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #121212;
  padding: 10px;
  font-size: 0.8rem;
  opacity: 0.5;
}

.header-left h3 a {
  margin-right: 15px;
  color: #0290ff;
  text-decoration: none;
  font-size: 1.8rem;
}

.icon {
  width: 2.813rem;
  height: 2.813rem;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon svg {
  color: #0290ff;
  width: 1.063rem;
  height: 1.063rem;
}

.header-left nav {
  display: flex;
}

nav ul {
  list-style-type: none;
}

nav ul span {
  margin-right: 15px;
}

nav ul li {
  display: inline-flex;
  margin-right: 15px;
}

.active-link {
  opacity: 1;
  color: #121212;
}

.App {
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bookstore {
  margin: 2rem 6.25rem;
  height: auto;
  width: 100%;
  padding: 0 6.25rem;
}

.booklist {
  font-family: 'Roboto Slab', serif;
}

.booklist hr {
  border: 1px solid #e8e8e8;
  margin-top: 2.5rem;
}

.booklist ul li {
  list-style-type: none;
  padding: 1rem 0.5rem;
  margin: 10px auto;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  display: grid;
  grid-template-columns: 40% 25% 30%;
  grid-gap: 20px;
}

.booklist ul li:hover {
  background-color: #e8e8e8;
}

.part1 {
  display: flex;
  flex-direction: column;
}

.part2 {
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #121212;
}

.part3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-weight: 300;
}

.part1 p {
  font-size: 0.6rem;
}

.part2b {
  margin-left: 0.5rem;
}

.part2b p {
  font-size: 0.8rem;
  opacity: 0.5;
}

.part2b h4 {
  font-size: 2rem;
  font-weight: normal;
}

.part3 p {
  color: #121212;
}

.part3 p:nth-of-type(1) {
  font-size: 0.8rem;
  opacity: 0.5;
}

.part3 p:nth-of-type(2) {
  font-size: 1rem;
}

.part1 p:nth-of-type(2) {
  color: #4cb0ff;
  font-size: 0.8rem;
  font-weight: 300;
}

.part2 img {
  width: 40%;
}

.part2 hr {
  height: 100%;
  align-self: flex-end;
  border: 1px solid rgb(222, 216, 216);
  margin-left: 2.5rem;
}

.part3 button {
  background-color: #0290ff;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-size: 0.8rem;
}

.btns {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.btns button {
  margin-right: 10px;
  background-color: transparent;
  color: cornflowerblue;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 300;
}

.btns span {
  margin-right: 10px;
  color: gray;
}

.form {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2.5rem;
}

.form h3 {
  margin-bottom: 1.2rem;
  color: #888;
  font-weight: bold;
}

.form form {
  display: grid;
  grid-template-columns: 60% 25% 15%;
  grid-gap: 20px;
}

.form input {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  height: 2.8rem;
  transition: all 0.5s ease-in-out;
  padding: 2px 8px;
}

.form input:focus {
  outline: none;
  border-bottom: 2px solid #4cb0ff;
}

.form input:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.form input::placeholder {
  font-size: 1rem;
}

.form button {
  background-color: #0290ff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-size: 0.8rem;
  transition: all 0.5s ease-in-out;
}

.form button:hover {
  filter: invert(100%);
}

@media screen and (max-width: 500px) {
  .header-left {
    grid-template-columns: 1fr;
  }
}
